# Obtaining socio-economic data
#### Using pandas read_html to collect table data from https://www.numbeo.com/quality-of-life/in/Berlin

In [1]:
import pandas as pd
import lxml

## 1. Getting city data
### 1.1 Define city list

In [2]:
city_list = ['Amsterdam', 'Andorra-La-Vella', 'Athens', 'Belgrade', 'Berlin', 'Bern', 
             'Bratislava', 'Brussels', 'Bucharest', 'Budapest', 'Chisinau', 'Copenhagen', 
             'Dublin', 'Helsinki', 'Kiev', 'Lisbon', 'Ljubljana', 'London', 'Luxembourg', 
             'Madrid', 'Minsk', 'Monaco', 'Moscow', 'Nicosia', 'Nuuk', 'Oslo', 'Paris', 
             'Podgorica', 'Prague', 'Reykjavik', 'Riga', 'Rome', 'San-Marino', 'Sarajevo', 
             'Skopje', 'Sofia', 'Stockholm', 'Tallinn', 'Tirana', 'Vaduz', 'Valletta', 'Vatican-City', 
             'Vienna', 'Vilnius', 'Warsaw', 'Zagreb']

### 1.2 Creating a function to obtain data and put it into a dataframe for processing and modelling

In [3]:
test_list = ["Vienna", "Berlin"]

In [4]:
def get_city_info(city_list) -> list:
    
    # create empty database
    df = pd.DataFrame()
    errors = []
    
    # iterate over list of cities to obtain table data from Numbeo
    for city in city_list:
        try:
            table = pd.read_html(f"https://www.numbeo.com/quality-of-life/in/{city}")[3]
            table = (table.assign(city=city)
                      .rename(columns={0:"category", 1:"numeral", 2:"level"})
                      .drop([table.index[8]]))
            df = df.append(table)
        
        except:
            errors.append(city)
    
    df.reset_index(inplace=True, drop=True)
    
    # df = df.pivot(index="city", columns="category", values=["numeral", "level"])
    
    # colnames = ['climate', 'cost_of_living', 'health_care', 'pollution', 'property_income_ratio', 'purchasing_power',
                #'safety', 'traffic_time', 'quality_of_life', 'climate_level', 'cost_of_living_level',
                #'health_care_level', 'pollution_level', 'property_income_ratio_level', 'purchasing_power_level',
                #'safety_level', 'traffic_time_level', 'quality_of_life_level']
    #df.columns = colnames
    #df = df.reset_index()
        
    return df, errors

In [5]:
get_city_info(test_list)

(                          category  numeral      level    city
 0           Purchasing Power Index    83.38   Moderate  Vienna
 1                     Safety Index    75.85       High  Vienna
 2                Health Care Index    78.83       High  Vienna
 3                    Climate Index    81.77  Very High  Vienna
 4             Cost of Living Index    68.69   Moderate  Vienna
 5   Property Price to Income Ratio    13.72       High  Vienna
 6       Traffic Commute Time Index    26.78        Low  Vienna
 7                  Pollution Index    18.15   Very Low  Vienna
 8         ƒ Quality of Life Index:   183.99  Very High  Vienna
 9           Purchasing Power Index    97.17       High  Berlin
 10                    Safety Index    58.92   Moderate  Berlin
 11               Health Care Index    69.68       High  Berlin
 12                   Climate Index    83.35  Very High  Berlin
 13            Cost of Living Index    67.91   Moderate  Berlin
 14  Property Price to Income Ratio     9.59   Moderate  Berlin
 15      Traffic Commute Time Index    34.18        Low  Berlin
 16                 Pollution Index    39.45        Low  Berlin
 17        ƒ Quality of Life Index:   164.21  Very High  Berlin,
 [])

## 2. Final data-set
### 2.1 Checking for cities not covered by Numbeo

In [6]:
# get_city_info(city_list)

In [7]:
drop_cities = ['San-Marino', 'Vaduz', 'Vatican-City']

update_cities = [city for city in city_list if city not in drop_cities]

In [8]:
print(update_cities)

['Amsterdam', 'Andorra-La-Vella', 'Athens', 'Belgrade', 'Berlin', 'Bern', 'Bratislava', 'Brussels', 'Bucharest', 'Budapest', 'Chisinau', 'Copenhagen', 'Dublin', 'Helsinki', 'Kiev', 'Lisbon', 'Ljubljana', 'London', 'Luxembourg', 'Madrid', 'Minsk', 'Monaco', 'Moscow', 'Nicosia', 'Nuuk', 'Oslo', 'Paris', 'Podgorica', 'Prague', 'Reykjavik', 'Riga', 'Rome', 'Sarajevo', 'Skopje', 'Sofia', 'Stockholm', 'Tallinn', 'Tirana', 'Valletta', 'Vienna', 'Vilnius', 'Warsaw', 'Zagreb']

### 2.2 Now rerunning function with updated list

In [9]:
# get_city_info(update_cities)

### 2.3 There seem to be no errors coming up, now to rewrite the function, so it returns a data-set again

In [10]:
def get_city(city_list) -> list:
    
    # create empty database
    df = pd.DataFrame()
    
    # iterate over list of cities to obtain table data from Numbeo    
    # removing index position 8, because it refers to a border
    for city in city_list:
        table = pd.read_html(f"https://www.numbeo.com/quality-of-life/in/{city}")[3]
        table = (table.assign(city=city)
                      .rename(columns={0:"category", 1:"numeral", 2:"level"})
                )
        df = df.append(table)
    
    df.reset_index(inplace=True, drop=True)
  
    return df

In [11]:
#all_cities = 
get_city(test_list)

                          category  numeral      level    city
0           Purchasing Power Index    83.38   Moderate  Vienna
1                     Safety Index    75.85       High  Vienna
2                Health Care Index    78.83       High  Vienna
3                    Climate Index    81.77  Very High  Vienna
4             Cost of Living Index    68.69   Moderate  Vienna
5   Property Price to Income Ratio    13.72       High  Vienna
6       Traffic Commute Time Index    26.78        Low  Vienna
7                  Pollution Index    18.15   Very Low  Vienna
8                              NaN      NaN        NaN  Vienna
9         ƒ Quality of Life Index:   183.99  Very High  Vienna
10          Purchasing Power Index    97.17       High  Berlin
11                    Safety Index    58.92   Moderate  Berlin
12               Health Care Index    69.68       High  Berlin
13                   Climate Index    83.35  Very High  Berlin
14            Cost of Living Index    67.91   Moderate  Berlin
15  Property Price to Income Ratio     9.59   Moderate  Berlin
16      Traffic Commute Time Index    34.18        Low  Berlin
17                 Pollution Index    39.45        Low  Berlin
18                             NaN      NaN        NaN  Berlin
19        ƒ Quality of Life Index:   164.21  Very High  Berlin

In [12]:
# all_cities

### 2.4 Checking values of Index and Unnamed: 1 columns
There seems to be a city whose data was pushed back by one.

In [13]:
# all_cities["Index"].value_counts()

In [14]:
# all_cities["Unnamed: 1"].value_counts()

In [15]:
# all_cities.loc[all_cities["Unnamed: 1"] == 209.07]

The data for the city of Bern seems to have been scraped incorrectly. Let's check what data Numbeo actually has available.

In [16]:
# pd.read_html(f"https://www.numbeo.com/quality-of-life/in/Bern")[3]

Perhaps we are reading the wrong table from Numbeo, let's try the others.

In [17]:
# pd.read_html(f"https://www.numbeo.com/quality-of-life/in/Bern")[4]

It seems as though there is not enough user information for Bern and there is a notice table in the html
pushing it to index position 4. I think we'll delete Bern, as it does not have enough data.

In [18]:
update_cities.remove("Bern")

In [19]:
print(update_cities)

['Amsterdam', 'Andorra-La-Vella', 'Athens', 'Belgrade', 'Berlin', 'Bratislava', 'Brussels', 'Bucharest', 'Budapest', 'Chisinau', 'Copenhagen', 'Dublin', 'Helsinki', 'Kiev', 'Lisbon', 'Ljubljana', 'London', 'Luxembourg', 'Madrid', 'Minsk', 'Monaco', 'Moscow', 'Nicosia', 'Nuuk', 'Oslo', 'Paris', 'Podgorica', 'Prague', 'Reykjavik', 'Riga', 'Rome', 'Sarajevo', 'Skopje', 'Sofia', 'Stockholm', 'Tallinn', 'Tirana', 'Valletta', 'Vienna', 'Vilnius', 'Warsaw', 'Zagreb']

In [20]:
# final_cities = get_city(update_cities)

In [21]:
def get_city(city_list) -> list:
    
    # create empty database
    df = pd.DataFrame()
    
    # iterate over list of cities to obtain table data from Numbeo    
    # removing index position 8, because it refers to a border
    for city in city_list:
        table = pd.read_html(f"https://www.numbeo.com/quality-of-life/in/{city}")[3]
        table = (table.assign(city=city)
                      .rename(columns={0:"category", 1:"numeral", 2:"level"})
                      .drop([table.index[8]])
                )
        df = df.append(table)
    
    df.reset_index(inplace=True, drop=True)
  
    return df

In [22]:
final_cities = get_city(update_cities)

In [23]:
final_cities.head(20)

                          category numeral      level              city
0           Purchasing Power Index    80.9   Moderate         Amsterdam
1                     Safety Index   67.32       High         Amsterdam
2                Health Care Index   69.45       High         Amsterdam
3                    Climate Index   87.45  Very High         Amsterdam
4             Cost of Living Index   84.26   Moderate         Amsterdam
5   Property Price to Income Ratio   10.98   Moderate         Amsterdam
6       Traffic Commute Time Index   29.88        Low         Amsterdam
7                  Pollution Index   30.79        Low         Amsterdam
8         ƒ Quality of Life Index:  168.08  Very High         Amsterdam
9           Purchasing Power Index   81.72   Moderate  Andorra-La-Vella
10                    Safety Index   87.16  Very High  Andorra-La-Vella
11               Health Care Index   69.44       High  Andorra-La-Vella
12                   Climate Index       ?        NaN  Andorra-La-Vella
13            Cost of Living Index   66.75   Moderate  Andorra-La-Vella
14  Property Price to Income Ratio    7.44        Low  Andorra-La-Vella
15      Traffic Commute Time Index    5.00   Very Low  Andorra-La-Vella
16                 Pollution Index   64.08       High  Andorra-La-Vella
17        ƒ Quality of Life Index:       ?        NaN  Andorra-La-Vella
18          Purchasing Power Index   40.22   Very Low            Athens
19                    Safety Index    50.5   Moderate            Athens

In [24]:
def pivot_cities(df):

    df = df.pivot(index="city", columns="category", values=["numeral", "level"])
    
    colnames = ['climate', 'cost_of_living', 'health_care', 'pollution', 'property_income_ratio', 'purchasing_power',
                'safety', 'traffic_time', 'quality_of_life', 'climate_level', 'cost_of_living_level',
                'health_care_level', 'pollution_level', 'property_income_ratio_level', 'purchasing_power_level',
                'safety_level', 'traffic_time_level', 'quality_of_life_level']
    df.columns = colnames
    df = df.reset_index()
    
    return df

In [25]:
final_cities = pivot_cities(final_cities)

final_cities.head(20)

,city,climate,cost_of_living,health_care,pollution,property_income_ratio,purchasing_power,safety,traffic_time,quality_of_life,climate_level,cost_of_living_level,health_care_level,pollution_level,property_income_ratio_level,purchasing_power_level,safety_level,traffic_time_level,quality_of_life_level
0,Amsterdam,87.45,84.26,69.45,30.79,10.98,80.9,67.32,29.88,168.08,Very High,Moderate,High,Low,Moderate,Moderate,High,Low,Very High
1,Andorra-La-Vella,?,66.75,69.44,64.08,7.44,81.72,87.16,5.00,?,NaN,Moderate,High,High,Low,Moderate,Very High,Very Low,NaN
2,Athens,95.18,59.56,56.17,57.3,12.74,40.22,50.5,37.98,119.64,Very High,Low,Moderate,Moderate,High,Very Low,Moderate,Moderate,High
3,Belgrade,84.14,40.53,53.72,63.57,22.22,34.52,62.02,35.89,107.76,Very High,Very Low,Moderate,High,Very High,Very Low,High,Moderate,Moderate
4,Berlin,83.35,67.91,69.68,39.45,9.59,97.17,58.92,34.18,164.21,Very High,Moderate,High,Low,Moderate,High,Moderate,Low,Very High
5,Bratislava,80.72,50.85,57.17,41.12,13.37,61.26,68.68,30.89,147.31,Very High,Low,Moderate,Moderate,High,Low,High,Low,High
6,Brussels,83.85,74.91,74.5,62.36,6.38,87.24,48.28,37.17,142.75,Very High,Moderate,High,High,Low,Moderate,Moderate,Moderate,High
7,Bucharest,75.61,41.06,54.34,75.53,10.54,50.77,72.64,42.3,117.42,High,Very Low,Moderate,High,Moderate,Low,High,Moderate,High
8,Budapest,78.41,43.94,47.7,54.38,15.93,48.37,63.82,39.13,120.33,High,Very Low,Moderate,Moderate,High,Low,High,Moderate,High
9,Chisinau,76.91,34.82,51.93,62.24,13.26,25.83,54.82,28,111.91,High,Very Low,Moderate,High,High,Very Low,Moderate,Low,High
10,Copenhagen,83.74,93.09,78.15,21.47,8.32,89.27,74.77,28.93,185.87,Very High,High,High,Low,Moderate,Moderate,High,Low,Very High
11,Dublin,85.89,82.58,51.5,40.42,9.65,67.08,50.42,40.58,136.12,Very High,Moderate,Moderate,Moderate,Moderate,Moderate,Moderate,Moderate,High
12,Helsinki,62.79,76.96,77.06,13.19,12.1,88.48,77.24,31.47,181.45,High,Moderate,High,Very Low,High,Moderate,High,Low,Very High
13,Kiev,69.95,33.13,55.55,66.08,11.97,38.42,52.94,43.11,106.49,High,Very Low,Moderate,High,Moderate,Very Low,Moderate,Moderate,Moderate
14,Lisbon,98.59,52.13,71.49,34.91,17.77,46.23,71.94,36.21,151.56,Very High,Low,High,Low,Very High,Low,High,Moderate,Very High
15,Ljubljana,76.11,58.15,66.24,23.24,13.51,58.09,78.72,27.72,165.79,High,Low,High,Low,High,Low,High,Low,Very High
16,London,88.25,79.73,70.28,58.57,15.98,82.41,47.44,45.26,128.58,Very High,Moderate,High,Moderate,High,Moderate,Moderate,High,High
17,Luxembourg,82.62,86.39,73.71,21.59,11.41,102.04,71.91,33.24,182.73,Very High,Moderate,High,Low,Moderate,High,High,Low,Very High
18,Madrid,85.47,62.35,78.97,52.06,13,65.95,70.01,35.13,149.95,Very High,Low,High,Moderate,High,Moderate,High,Moderate,High
19,Minsk,64.37,35.31,62.59,41.56,15.88,33.05,75.55,30.34,135.2,High,Very Low,High,Moderate,High,Very Low,High,Low,High

## 3. Data cleaning on final table

### 3.1 replacing the one '?' with NaN

In [27]:
import numpy as np

In [28]:
final_cities.replace("?", np.nan)

,city,climate,cost_of_living,health_care,pollution,property_income_ratio,purchasing_power,safety,traffic_time,quality_of_life,climate_level,cost_of_living_level,health_care_level,pollution_level,property_income_ratio_level,purchasing_power_level,safety_level,traffic_time_level,quality_of_life_level
0,Amsterdam,87.45,84.26,69.45,30.79,10.98,80.9,67.32,29.88,168.08,Very High,Moderate,High,Low,Moderate,Moderate,High,Low,Very High
1,Andorra-La-Vella,NaN,66.75,69.44,64.08,7.44,81.72,87.16,5.00,NaN,NaN,Moderate,High,High,Low,Moderate,Very High,Very Low,NaN
2,Athens,95.18,59.56,56.17,57.3,12.74,40.22,50.5,37.98,119.64,Very High,Low,Moderate,Moderate,High,Very Low,Moderate,Moderate,High
3,Belgrade,84.14,40.53,53.72,63.57,22.22,34.52,62.02,35.89,107.76,Very High,Very Low,Moderate,High,Very High,Very Low,High,Moderate,Moderate
4,Berlin,83.35,67.91,69.68,39.45,9.59,97.17,58.92,34.18,164.21,Very High,Moderate,High,Low,Moderate,High,Moderate,Low,Very High
5,Bratislava,80.72,50.85,57.17,41.12,13.37,61.26,68.68,30.89,147.31,Very High,Low,Moderate,Moderate,High,Low,High,Low,High
6,Brussels,83.85,74.91,74.5,62.36,6.38,87.24,48.28,37.17,142.75,Very High,Moderate,High,High,Low,Moderate,Moderate,Moderate,High
7,Bucharest,75.61,41.06,54.34,75.53,10.54,50.77,72.64,42.3,117.42,High,Very Low,Moderate,High,Moderate,Low,High,Moderate,High
8,Budapest,78.41,43.94,47.7,54.38,15.93,48.37,63.82,39.13,120.33,High,Very Low,Moderate,Moderate,High,Low,High,Moderate,High
9,Chisinau,76.91,34.82,51.93,62.24,13.26,25.83,54.82,28,111.91,High,Very Low,Moderate,High,High,Very Low,Moderate,Low,High
10,Copenhagen,83.74,93.09,78.15,21.47,8.32,89.27,74.77,28.93,185.87,Very High,High,High,Low,Moderate,Moderate,High,Low,Very High
11,Dublin,85.89,82.58,51.5,40.42,9.65,67.08,50.42,40.58,136.12,Very High,Moderate,Moderate,Moderate,Moderate,Moderate,Moderate,Moderate,High
12,Helsinki,62.79,76.96,77.06,13.19,12.1,88.48,77.24,31.47,181.45,High,Moderate,High,Very Low,High,Moderate,High,Low,Very High
13,Kiev,69.95,33.13,55.55,66.08,11.97,38.42,52.94,43.11,106.49,High,Very Low,Moderate,High,Moderate,Very Low,Moderate,Moderate,Moderate
14,Lisbon,98.59,52.13,71.49,34.91,17.77,46.23,71.94,36.21,151.56,Very High,Low,High,Low,Very High,Low,High,Moderate,Very High
15,Ljubljana,76.11,58.15,66.24,23.24,13.51,58.09,78.72,27.72,165.79,High,Low,High,Low,High,Low,High,Low,Very High
16,London,88.25,79.73,70.28,58.57,15.98,82.41,47.44,45.26,128.58,Very High,Moderate,High,Moderate,High,Moderate,Moderate,High,High
17,Luxembourg,82.62,86.39,73.71,21.59,11.41,102.04,71.91,33.24,182.73,Very High,Moderate,High,Low,Moderate,High,High,Low,Very High
18,Madrid,85.47,62.35,78.97,52.06,13,65.95,70.01,35.13,149.95,Very High,Low,High,Moderate,High,Moderate,High,Moderate,High
19,Minsk,64.37,35.31,62.59,41.56,15.88,33.05,75.55,30.34,135.20,High,Very Low,High,Moderate,High,Very Low,High,Low,High
20,Monaco,94.90,NaN,71.53,80.23,48.88,NaN,79.26,18.33,NaN,Very High,NaN,High,Very High,Very High,NaN,High,Very Low,NaN
21,Moscow,55.83,42.01,62.04,58.57,19.75,48.74,60.23,52.24,103.93,Moderate,Very Low,High,Moderate,Very High,Low,High,High,Moderate
22,Nicosia,86.01,66.75,50.91,61.04,6.21,55.33,68.46,26.15,138.74,Very High,Moderate,Moderate,High,Low,Low,High,Low,High
23,Nuuk,24.01,NaN,75.00,70.94,8.29,NaN,72.02,18.75,NaN,Moderate,NaN,High,High,Moderate,NaN,High,Very Low,NaN
24,Oslo,59.99,97.61,75.07,25.6,10.81,84.36,63.36,31.92,161.85,Moderate,High,High,Low,Moderate,Moderate,High,Low,Very High
25,Paris,88.39,89.92,78.58,64.23,21.79,68.79,48.14,42.17,117.79,Very High,Moderate,High,High,Very High,Moderate,Moderate,Moderate,High
26,Podgorica,88.4,41.94,40.31,48.6,12.78,35.86,49.59,13.11,128.80,Very High,Very Low,Moderate,Moderate,High,Very Low,Moderate,Very Low,High
27,Prague,80.67,49.51,74.38,34.89,18.26,59.72,75.86,32.41,155.78,Very High,Low,High,Low,Very High,Low,High,Low,Very High
28,Reykjavik,68.81,91.67,66.63,15.33,6.48,74.48,77.74,20.17,182.30,High,High,High,Very Low,Low,Moderate,High,Very Low,Very High
29,Riga,74.7,51.74,60.67,38.65,9.49,49.26,61.59,32.22,143.13,High,Low,High,Low,Moderate,Low,High,Low,High
30,Rome,93.7,74.17,59.35,66.4,16.49,53.16,48.25,42.43,110.97,Very High,Moderate,Moderate,High,Very High,Low,Moderate,Moderate,High
31,Sarajevo,78.18,37.84,60.13,69.24,9.63,52.38,53.02,28.84,123.58,High,Very Low,High,High,Moderate,Low,Moderate,Low,High
32,Skopje,76.3,36.77,55.93,82.9,13.53,33.35,56.04,28.6,102.39,High,Very Low,Moderate,Very High,High,Very Low,Moderate,Low,Moderate
33,Sofia,76.01,42.8,57.24,69.24,9.54,48.23,57.81,30.88,121.01,High,Very Low,Moderate,High,Moderate,Low,Moderate,Low,High
34,Stockholm,69.67,81.42,66.9,20.05,14.58,80.17,55.39,36.53,155.39,High,Moderate,High,Low,High,Moderate,Moderate,Moderate,Very High
35,Tallinn,64.28,56.1,71,22.13,9.28,63.74,77.11,26.58,170.95,High,Low,High,Low,Moderate,Low,High,Low,Very High
36,Tirana,86.43,39.73,48.95,87.45,17.17,27.47,61.25,40.46,90.33,Very High,Very Low,Moderate,Very High,Very High,Very Low,High,Moderate,Moderate
37,Valletta,97.44,76.61,58.86,74.23,16.71,37.92,68.57,34,114.61,Very High,Moderate,Moderate,High,Very High,Very Low,High,Low,High
38,Vienna,81.77,68.69,78.83,18.15,13.72,83.38,75.85,26.78,183.99,Very High,Moderate,High,Very Low,High,Moderate,High,Low,Very High
39,Vilnius,66.59,46.99,71.09,23.34,11.52,59.04,72.15,27.76,164.66,High,Low,High,Low,Moderate,Low,High,Low,Very High
40,Warsaw,74.61,44.15,54.65,65.58,14.81,53.93,71.22,35.71,123.11,High,Very Low,Moderate,High,High,Low,High,Moderate,High
41,Zagreb,82.19,53.32,64.98,31.55,13.75,49.39,77.98,31.52,156.26,Very High,Low,High,Low,High,Low,High,Low,Very High

## 4. Exporting to json format

In [30]:
final_cities.to_json("../data/Socio_economic_data.json")