# Seasonal weather data for major EU cities

- First we will scrape https://climatedata.eu/ for the cities in our defined list.
- Because climatedata uses a special codes in their urls, we will define a dictionary for our cities
- After scraping the data we can subset for seasonal avg temperatures, precipitation and sunshine

In [1]:
import pandas as pd
import lxml

## 1. Getting the data
### 1.1 First, we define a dictionary to hold the url codes for each city

In [2]:
city_codes = {'Amsterdam':'nlxx0002', 'Athens':'grxx0004', 'Belgrade':'srxx0005', 'Berlin':'gmxx0007',
              'Bern':'szxx0006', 'Bratislava':'loxx0001', 'Brussels':'bexx0005', 'Bucharest':'roxx0003',
              'Budapest':'huxx0002', 'Copenhagen':'daxx0009', 'Dublin':'eixx0014', 'Helsinki':'fixx0002', 
              'Lisbon':'poxx0039', 'Ljubljana':'sixx0002', 'London':'ukxx0085', 'Luxembourg':'bexx0027', 
              'Madrid':'spxx0050', 'Monaco':'mnxx0001', 'Nicosia':'cyxx0005', 'Oslo':'noxx0029', 
              'Paris':'frxx0076', 'Prague':'ezxx0012', 'Reykjavik':'icxx0002', 'Riga':'lgxx0004', 
              'Rome':'itxx0067', 'Sarajevo':'bkxx0004', 'Skopje':'mkxx0001', 'Sofia':'buxx0005', 
              'Stockholm':'swxx0031', 'Tallinn':'enxx0004', 'Tirana':'alxx0002', 'Valletta':'mtxx0001', 
              'Vienna':'auxx0025', 'Vilnius':'lhxx0005', 'Warsaw':'plxx0028', 'Zagreb':'hrxx0005'}

In [3]:
amsterdam1 = pd.read_html('https://www.climatedata.eu/climate.php?loc=nlxx0002&lang=en')[2]
amsterdam1

               Unnamed: 0  Jan  Feb  Mar  Apr  May  June
0      Average high in °C    5    6    9   12   17    19
1       Average low in °C    1    0    2    4    8    10
2  Av. precipitation - mm   62   43   58   41   48    67
3       Days with precip.   17   13   17   14   14    14
4       Hours of sunshine   53   80  116  166  217   200

In [4]:
amsterdam2 = pd.read_html('https://www.climatedata.eu/climate.php?loc=nlxx0002&lang=en')[3]
amsterdam2

               Unnamed: 0  July  Aug  Sep  Oct  Nov  Dec
0      Average high in °C    21   22   18   14    9    7
1       Average low in °C    13   12   10    7    4    2
2  Av. precipitation - mm    65   61   82   85   89   75
3       Days with precip.    13   13   16   17   19   18
4       Hours of sunshine   208  201  133  103   58   45

In [5]:
athens1 = pd.read_html('https://www.climatedata.eu/climate.php?loc=grxx0004&lang=en')[2]
athens1

               Unnamed: 0  Jan  Feb  Mar  Apr  May  June
0      Average high in °C   14   14   16   19   24    29
1       Average low in °C    7    7    8   11   16    20
2  Av. precipitation - mm   48   40   39   26   15     5
3       Days with precip.   13   13   11    9    6     4
4       Hours of sunshine  129  136  183  230  291   336

In [6]:
athens2 = pd.read_html('https://www.climatedata.eu/climate.php?loc=grxx0004&lang=en')[3]
athens2

               Unnamed: 0  July  Aug  Sep  Oct  Nov  Dec
0      Average high in °C    32   32   28   23   19   15
1       Average low in °C    23   23   20   16   12    9
2  Av. precipitation - mm     5    7    9   47   55   64
3       Days with precip.     2    1    4    9   11   14
4       Hours of sunshine   364  340  277  208  152  127

### 1.2 Now we'll write a function to gather all the cities's data in one go

In [7]:
test_dict = {'Amsterdam':'nlxx0002', 'Athens':'grxx0004', 'Vienna':'auxx0025'}

In [8]:
def get_data(city_dict) -> dict:
    df = pd.DataFrame()
    errors = []

    for city, code in city_dict.items():
        try:
            # get first table (from jan to june)
            table1 = pd.read_html(f'https://www.climatedata.eu/climate.php?loc={code}&lang=en')[2]
        
            # get second table (from july to dec)
            table2 = pd.read_html(f'https://www.climatedata.eu/climate.php?loc={code}&lang=en')[3]
            
            # merge table1 and table2
            table_combo = table1.merge(table2)
            table_combo = table_combo.assign(city=city)
            
            # assign tables to df
            df = df.append(table_combo)
        
        except:
            errors.append(city)

    return df

In [9]:
test_weather = get_data(test_dict)

In [10]:
city_weather = get_data(city_codes)

In [11]:
city_weather.head(20)

,Unnamed: 0,Jan,Feb,Mar,Apr,May,June,July,Aug,Sep,Oct,Nov,Dec,city
0,Average high in °C,5,6,9,12,17,19,21,22,18,14,9,7,Amsterdam
1,Average low in °C,1,0,2,4,8,10,13,12,10,7,4,2,Amsterdam
2,Av. precipitation - mm,62,43,58,41,48,67,65,61,82,85,89,75,Amsterdam
3,Days with precip.,17,13,17,14,14,14,13,13,16,17,19,18,Amsterdam
4,Hours of sunshine,53,80,116,166,217,200,208,201,133,103,58,45,Amsterdam
0,Average high in °C,14,14,16,19,24,29,32,32,28,23,19,15,Athens
1,Average low in °C,7,7,8,11,16,20,23,23,20,16,12,9,Athens
2,Av. precipitation - mm,48,40,39,26,15,5,5,7,9,47,55,64,Athens
3,Days with precip.,13,13,11,9,6,4,2,1,4,9,11,14,Athens
4,Hours of sunshine,129,136,183,230,291,336,364,340,277,208,152,127,Athens
0,Average high in °C,4,6,12,18,23,25,27,27,24,18,11,5,Belgrade
1,Average low in °C,-2,0,3,8,12,15,16,16,13,8,4,0,Belgrade
2,Av. precipitation - mm,49,44,50,59,71,90,66,51,51,40,54,58,Belgrade
3,Days with precip.,8,7,8,9,10,10,7,6,6,6,9,9,Belgrade
4,Hours of sunshine,71,88,143,178,226,246,285,266,203,168,89,63,Belgrade
0,Average high in °C,2,4,8,13,19,22,23,23,19,13,7,3,Berlin
1,Average low in °C,-3,-2,1,4,8,11,13,12,9,6,2,-1,Berlin
2,Av. precipitation - mm,43,37,38,42,55,71,53,65,46,36,50,55,Berlin
3,Days with precip.,10,9,8,9,10,10,9,10,9,8,10,11,Berlin
4,Hours of sunshine,47,81,121,161,220,229,217,211,161,112,53,37,Berlin

## 2. Now we have our dataframe, it's time to inspect and subset
### 2.1 checking dtypes and updating colnames

In [12]:
city_weather.dtypes

Unnamed: 0    object
Jan            int64
Feb            int64
Mar            int64
Apr            int64
May            int64
June           int64
July           int64
Aug            int64
Sep            int64
Oct            int64
Nov            int64
Dec            int64
city          object
dtype: object

In [13]:
city_weather = city_weather.rename(columns={"Unnamed: 0":"weather"})

In [14]:
city_weather.head()

,weather,Jan,Feb,Mar,Apr,May,June,July,Aug,Sep,Oct,Nov,Dec,city
0,Average high in °C,5,6,9,12,17,19,21,22,18,14,9,7,Amsterdam
1,Average low in °C,1,0,2,4,8,10,13,12,10,7,4,2,Amsterdam
2,Av. precipitation - mm,62,43,58,41,48,67,65,61,82,85,89,75,Amsterdam
3,Days with precip.,17,13,17,14,14,14,13,13,16,17,19,18,Amsterdam
4,Hours of sunshine,53,80,116,166,217,200,208,201,133,103,58,45,Amsterdam

### 2.2 Grouping months into seasons

#### Keep in mind that the data is not standardised (e.g we have temperatures in Celius, number of mm, days and hours)

In [15]:
test_weather

,Unnamed: 0,Jan,Feb,Mar,Apr,May,June,July,Aug,Sep,Oct,Nov,Dec,city
0,Average high in °C,5,6,9,12,17,19,21,22,18,14,9,7,Amsterdam
1,Average low in °C,1,0,2,4,8,10,13,12,10,7,4,2,Amsterdam
2,Av. precipitation - mm,62,43,58,41,48,67,65,61,82,85,89,75,Amsterdam
3,Days with precip.,17,13,17,14,14,14,13,13,16,17,19,18,Amsterdam
4,Hours of sunshine,53,80,116,166,217,200,208,201,133,103,58,45,Amsterdam
0,Average high in °C,14,14,16,19,24,29,32,32,28,23,19,15,Athens
1,Average low in °C,7,7,8,11,16,20,23,23,20,16,12,9,Athens
2,Av. precipitation - mm,48,40,39,26,15,5,5,7,9,47,55,64,Athens
3,Days with precip.,13,13,11,9,6,4,2,1,4,9,11,14,Athens
4,Hours of sunshine,129,136,183,230,291,336,364,340,277,208,152,127,Athens
0,Average high in °C,1,3,8,15,19,23,25,24,20,14,7,3,Vienna
1,Average low in °C,-4,-3,1,6,10,14,15,15,11,7,3,-1,Vienna
2,Av. precipitation - mm,38,42,41,51,61,74,63,58,45,41,50,43,Vienna
3,Days with precip.,15,14,13,13,13,14,13,13,10,13,14,15,Vienna
4,Hours of sunshine,56,78,126,170,221,223,246,228,171,137,63,52,Vienna

In [16]:
round((test_weather["Dec"] + test_weather["Jan"] + test_weather["Feb"]) / 3)

0      6.0
1      1.0
2     60.0
3     16.0
4     59.0
0     14.0
1      8.0
2     51.0
3     13.0
4    131.0
0      2.0
1     -3.0
2     41.0
3     15.0
4     62.0
dtype: float64

In [17]:
test_weather.head()

,Unnamed: 0,Jan,Feb,Mar,Apr,May,June,July,Aug,Sep,Oct,Nov,Dec,city
0,Average high in °C,5,6,9,12,17,19,21,22,18,14,9,7,Amsterdam
1,Average low in °C,1,0,2,4,8,10,13,12,10,7,4,2,Amsterdam
2,Av. precipitation - mm,62,43,58,41,48,67,65,61,82,85,89,75,Amsterdam
3,Days with precip.,17,13,17,14,14,14,13,13,16,17,19,18,Amsterdam
4,Hours of sunshine,53,80,116,166,217,200,208,201,133,103,58,45,Amsterdam

In [18]:
def get_season_avg(df):
    season_dict = {"winter": ["Dec", "Jan", "Feb"],
                   "spring": ["Mar", "Apr", "May"],
                   "summer": ["June", "July", "Aug"],
                   "autumn": ["Sep", "Oct", "Nov"],
                   }
    
    for season, month in season_dict.items():
        # Get winter averages
        df[season] = round((df[month[0]] + df[month[1]] + df[month[2]]) / 3)
        df = df.drop(df[month], axis=1)

    return df

In [19]:
get_season_avg(test_weather)

               Unnamed: 0       city  winter  spring  summer  autumn
0      Average high in °C  Amsterdam     6.0    13.0    21.0    14.0
1       Average low in °C  Amsterdam     1.0     5.0    12.0     7.0
2  Av. precipitation - mm  Amsterdam    60.0    49.0    64.0    85.0
3       Days with precip.  Amsterdam    16.0    15.0    13.0    17.0
4       Hours of sunshine  Amsterdam    59.0   166.0   203.0    98.0
0      Average high in °C     Athens    14.0    20.0    31.0    23.0
1       Average low in °C     Athens     8.0    12.0    22.0    16.0
2  Av. precipitation - mm     Athens    51.0    27.0     6.0    37.0
3       Days with precip.     Athens    13.0     9.0     2.0     8.0
4       Hours of sunshine     Athens   131.0   235.0   347.0   212.0
0      Average high in °C     Vienna     2.0    14.0    24.0    14.0
1       Average low in °C     Vienna    -3.0     6.0    15.0     7.0
2  Av. precipitation - mm     Vienna    41.0    51.0    65.0    45.0
3       Days with precip.     Vienna    15.0    13.0    13.0    12.0
4       Hours of sunshine     Vienna    62.0   172.0   232.0   124.0

In [20]:
city_seasonal_avg = get_season_avg(city_weather)

In [21]:
city_seasonal_avg

                   weather       city  winter  spring  summer  autumn
0       Average high in °C  Amsterdam     6.0    13.0    21.0    14.0
1        Average low in °C  Amsterdam     1.0     5.0    12.0     7.0
2   Av. precipitation - mm  Amsterdam    60.0    49.0    64.0    85.0
3        Days with precip.  Amsterdam    16.0    15.0    13.0    17.0
4        Hours of sunshine  Amsterdam    59.0   166.0   203.0    98.0
..                     ...        ...     ...     ...     ...     ...
0       Average high in °C     Zagreb     4.0    16.0    25.0    15.0
1        Average low in °C     Zagreb    -0.0     8.0    16.0     9.0
2   Av. precipitation - mm     Zagreb    54.0    69.0    93.0    79.0
3        Days with precip.     Zagreb     7.0     9.0     9.0     7.0
4        Hours of sunshine     Zagreb    61.0   168.0   244.0   128.0

[178 rows x 6 columns]

### 2.3 Now to pivot the table so each city only has one row

In [22]:
test_df = city_seasonal_avg.loc[city_seasonal_avg["city"] == "Amsterdam"]

In [23]:
test_df

                  weather       city  winter  spring  summer  autumn
0      Average high in °C  Amsterdam     6.0    13.0    21.0    14.0
1       Average low in °C  Amsterdam     1.0     5.0    12.0     7.0
2  Av. precipitation - mm  Amsterdam    60.0    49.0    64.0    85.0
3       Days with precip.  Amsterdam    16.0    15.0    13.0    17.0
4       Hours of sunshine  Amsterdam    59.0   166.0   203.0    98.0

In [24]:
colnames = ["autumn_prec_mm", "autumn_high", "autumn_low", "autumn_prec_days", "autumn_sun_hrs",
            "spring_prec_mm", "spring_high", "spring_low", "spring_prec_days", "spring_sun_hrs",
            "summer_prec_mm", "summer_high", "summer_low", "summer_prec_days", "summer_sun_hrs",
            "winter_prec_mm", "winter_high", "winter_low", "winter_prec_days", "winter_sun_hrs",
           ]

In [25]:
test_pivot = test_df.pivot_table(index="city", columns=["weather"])
test_pivot

                          autumn                                       \
weather   Av. precipitation - mm Average high in °C Average low in °C
city
Amsterdam                   85.0               14.0               7.0

                                                              spring  \
weather   Days with precip. Hours of sunshine Av. precipitation - mm
city
Amsterdam              17.0              98.0                   49.0

                                                                  \
weather   Average high in °C Average low in °C Days with precip.
city
Amsterdam               13.0               5.0              15.0

                                            summer                     \
weather   Hours of sunshine Av. precipitation - mm Average high in °C
city
Amsterdam             166.0                   64.0               21.0

                                                                 \
weather   Average low in °C Days with precip. Hours of sunshine
city
Amsterdam              12.0              13.0             203.0

                          winter                                       \
weather   Av. precipitation - mm Average high in °C Average low in °C
city
Amsterdam                   60.0                6.0               1.0


weather   Days with precip. Hours of sunshine
city
Amsterdam              16.0              59.0

In [26]:
test_pivot.columns = [' '.join(col).strip() for col in test_pivot.columns.values]

In [27]:
test_pivot.columns = [colnames]

In [28]:
test_pivot.reset_index(inplace=True)
test_pivot

,city,autumn_prec_mm,autumn_high,autumn_low,autumn_prec_days,autumn_sun_hrs,spring_prec_mm,spring_high,spring_low,spring_prec_days,...,summer_prec_mm,summer_high,summer_low,summer_prec_days,summer_sun_hrs,winter_prec_mm,winter_high,winter_low,winter_prec_days,winter_sun_hrs
0,Amsterdam,85.0,14.0,7.0,17.0,98.0,49.0,13.0,5.0,15.0,...,64.0,21.0,12.0,13.0,203.0,60.0,6.0,1.0,16.0,59.0

### 2.4 Putting it all into a function

In [29]:
def transform_df(df):
    df = df.rename(columns={"Unnamed: 0":"weather"})
    colnames = ["autumn_prec_mm", "autumn_high", "autumn_low", "autumn_prec_days", "autumn_sun_hrs",
                "spring_prec_mm", "spring_high", "spring_low", "spring_prec_days", "spring_sun_hrs",
                "summer_prec_mm", "summer_high", "summer_low", "summer_prec_days", "summer_sun_hrs",
                "winter_prec_mm", "winter_high", "winter_low", "winter_prec_days", "winter_sun_hrs",
               ]
    
    df = df.pivot_table(index="city", columns=["weather"])
    df.columns = df.columns.get_level_values(1)
    df.columns = [colnames]
    df.reset_index(inplace=True)
    
    return df

In [30]:
transform_df(city_seasonal_avg).head()

,city,autumn_prec_mm,autumn_high,autumn_low,autumn_prec_days,autumn_sun_hrs,spring_prec_mm,spring_high,spring_low,spring_prec_days,...,summer_prec_mm,summer_high,summer_low,summer_prec_days,summer_sun_hrs,winter_prec_mm,winter_high,winter_low,winter_prec_days,winter_sun_hrs
0,Amsterdam,85.0,14.0,7.0,17.0,98.0,49.0,13.0,5.0,15.0,...,64.0,21.0,12.0,13.0,203.0,60.0,6.0,1.0,16.0,59.0
1,Athens,37.0,23.0,16.0,8.0,212.0,27.0,20.0,12.0,9.0,...,6.0,31.0,22.0,2.0,347.0,51.0,14.0,8.0,13.0,131.0
2,Belgrade,48.0,18.0,8.0,7.0,153.0,60.0,18.0,8.0,9.0,...,69.0,26.0,16.0,8.0,266.0,50.0,5.0,-1.0,8.0,74.0
3,Berlin,44.0,13.0,6.0,9.0,109.0,45.0,13.0,4.0,9.0,...,63.0,23.0,12.0,10.0,219.0,45.0,3.0,-2.0,10.0,55.0
4,Bern,79.0,13.0,5.0,9.0,119.0,87.0,13.0,3.0,12.0,...,113.0,23.0,11.0,11.0,213.0,64.0,3.0,-3.0,10.0,64.0

In [31]:
def to_seasonal(city_dict) -> dict:
    df = get_data(city_dict)
    df = get_season_avg(df)
    df = transform_df(df)
    
    return df

In [32]:
weather_final = to_seasonal(city_codes)

In [33]:
weather_final

,city,autumn_prec_mm,autumn_high,autumn_low,autumn_prec_days,autumn_sun_hrs,spring_prec_mm,spring_high,spring_low,spring_prec_days,...,summer_prec_mm,summer_high,summer_low,summer_prec_days,summer_sun_hrs,winter_prec_mm,winter_high,winter_low,winter_prec_days,winter_sun_hrs
0,Amsterdam,85.0,14.0,7.0,17.0,98.0,49.0,13.0,5.0,15.0,...,64.0,21.0,12.0,13.0,203.0,60.0,6.0,1.0,16.0,59.0
1,Athens,37.0,23.0,16.0,8.0,212.0,27.0,20.0,12.0,9.0,...,6.0,31.0,22.0,2.0,347.0,51.0,14.0,8.0,13.0,131.0
2,Belgrade,48.0,18.0,8.0,7.0,153.0,60.0,18.0,8.0,9.0,...,69.0,26.0,16.0,8.0,266.0,50.0,5.0,-1.0,8.0,74.0
3,Berlin,44.0,13.0,6.0,9.0,109.0,45.0,13.0,4.0,9.0,...,63.0,23.0,12.0,10.0,219.0,45.0,3.0,-2.0,10.0,55.0
4,Bern,79.0,13.0,5.0,9.0,119.0,87.0,13.0,3.0,12.0,...,113.0,23.0,11.0,11.0,213.0,64.0,3.0,-3.0,10.0,64.0
5,Bratislava,43.0,15.0,7.0,6.0,148.0,44.0,15.0,6.0,7.0,...,65.0,25.0,15.0,7.0,292.0,42.0,3.0,-2.0,7.0,68.0
6,Brussels,70.0,14.0,8.0,11.0,106.0,65.0,14.0,6.0,12.0,...,70.0,22.0,13.0,10.0,189.0,68.0,6.0,1.0,12.0,56.0
7,Bucharest,41.0,18.0,6.0,5.0,163.0,51.0,17.0,6.0,6.0,...,66.0,28.0,15.0,6.0,279.0,40.0,3.0,-3.0,6.0,73.0
8,Budapest,41.0,15.0,7.0,6.0,140.0,40.0,16.0,6.0,7.0,...,58.0,25.0,14.0,7.0,259.0,34.0,3.0,-3.0,7.0,62.0
9,Copenhagen,59.0,12.0,7.0,10.0,93.0,40.0,10.0,3.0,8.0,...,61.0,20.0,12.0,9.0,204.0,44.0,3.0,-2.0,10.0,51.0
10,Dublin,67.0,14.0,7.0,11.0,99.0,53.0,12.0,5.0,11.0,...,58.0,18.0,11.0,10.0,168.0,65.0,8.0,3.0,12.0,59.0
11,Helsinki,69.0,8.0,4.0,12.0,93.0,35.0,7.0,1.0,7.0,...,63.0,19.0,12.0,10.0,275.0,47.0,-1.0,-6.0,10.0,46.0
12,Lisbon,73.0,22.0,14.0,7.0,207.0,57.0,20.0,11.0,7.0,...,11.0,27.0,17.0,2.0,331.0,110.0,15.0,9.0,11.0,145.0
13,Ljubljana,127.0,15.0,7.0,8.0,112.0,110.0,15.0,5.0,11.0,...,140.0,25.0,13.0,11.0,237.0,88.0,4.0,-3.0,9.0,56.0
14,London,73.0,15.0,6.0,14.0,109.0,57.0,13.0,4.0,13.0,...,53.0,21.0,10.0,12.0,201.0,69.0,7.0,1.0,15.0,57.0
15,Luxembourg,83.0,12.0,4.0,17.0,109.0,79.0,10.0,2.0,19.0,...,110.0,18.0,9.0,17.0,195.0,96.0,2.0,-2.0,19.0,59.0
16,Madrid,37.0,21.0,8.0,5.0,202.0,36.0,19.0,6.0,6.0,...,16.0,31.0,15.0,3.0,324.0,38.0,12.0,1.0,6.0,140.0
17,Monaco,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,NaN,...,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,NaN,NaN
18,Nicosia,21.0,28.0,15.0,4.0,273.0,29.0,24.0,11.0,5.0,...,5.0,36.0,21.0,1.0,384.0,54.0,16.0,6.0,11.0,187.0
19,Oslo,82.0,9.0,3.0,11.0,94.0,47.0,10.0,1.0,8.0,...,78.0,21.0,12.0,11.0,237.0,47.0,-1.0,-6.0,9.0,50.0
20,Paris,50.0,16.0,8.0,14.0,117.0,41.0,16.0,7.0,13.0,...,56.0,24.0,14.0,12.0,223.0,49.0,7.0,1.0,16.0,67.0
21,Prague,75.0,19.0,8.0,10.0,215.0,24.0,4.0,-3.0,6.0,...,35.0,11.0,1.0,7.0,153.0,40.0,7.0,0.0,8.0,106.0
22,Reykjavik,74.0,7.0,2.0,13.0,82.0,61.0,6.0,1.0,12.0,...,54.0,13.0,8.0,11.0,162.0,75.0,2.0,-3.0,13.0,30.0
23,Riga,66.0,10.0,5.0,12.0,95.0,38.0,9.0,2.0,8.0,...,73.0,20.0,12.0,10.0,260.0,36.0,-1.0,-5.0,9.0,39.0
24,Rome,97.0,22.0,11.0,8.0,191.0,60.0,19.0,8.0,8.0,...,30.0,29.0,17.0,4.0,308.0,104.0,13.0,4.0,9.0,126.0
25,Sarajevo,84.0,16.0,6.0,12.0,120.0,68.0,15.0,4.0,14.0,...,72.0,26.0,13.0,11.0,230.0,76.0,5.0,-3.0,12.0,69.0
26,Skopje,47.0,18.0,6.0,6.0,157.0,46.0,19.0,6.0,7.0,...,37.0,29.0,14.0,5.0,274.0,39.0,6.0,-1.0,6.0,71.0
27,Sofia,42.0,16.0,7.0,9.0,161.0,55.0,16.0,5.0,12.0,...,60.0,26.0,15.0,10.0,267.0,36.0,3.0,-3.0,10.0,79.0
28,Stockholm,53.0,10.0,4.0,10.0,102.0,29.0,9.0,1.0,7.0,...,61.0,21.0,12.0,9.0,258.0,37.0,0.0,-4.0,9.0,48.0
29,Tallinn,62.0,9.0,3.0,12.0,87.0,31.0,8.0,0.0,7.0,...,62.0,20.0,11.0,10.0,270.0,33.0,-1.0,-7.0,11.0,33.0
30,Tirana,127.0,22.0,10.0,10.0,193.0,95.0,20.0,8.0,10.0,...,42.0,30.0,17.0,5.0,329.0,131.0,13.0,3.0,11.0,115.0
31,Valletta,70.0,24.0,17.0,8.0,229.0,24.0,20.0,12.0,6.0,...,3.0,30.0,20.0,1.0,355.0,87.0,16.0,10.0,13.0,169.0
32,Vienna,45.0,14.0,7.0,12.0,124.0,51.0,14.0,6.0,13.0,...,65.0,24.0,15.0,13.0,232.0,41.0,2.0,-3.0,15.0,62.0
33,Vilnius,58.0,10.0,4.0,11.0,89.0,49.0,11.0,2.0,9.0,...,76.0,22.0,12.0,10.0,222.0,45.0,-1.0,-6.0,10.0,44.0
34,Warsaw,40.0,12.0,5.0,8.0,95.0,39.0,13.0,3.0,8.0,...,67.0,23.0,12.0,9.0,228.0,25.0,1.0,-4.0,7.0,46.0
35,Zagreb,79.0,15.0,9.0,7.0,128.0,69.0,16.0,8.0,9.0,...,93.0,25.0,16.0,9.0,244.0,54.0,4.0,0.0,7.0,61.0

In [36]:
weather_final.columns = weather_final.columns.get_level_values(0)
weather_final.columns

Index(['city', 'autumn_prec_mm', 'autumn_high', 'autumn_low',
       'autumn_prec_days', 'autumn_sun_hrs', 'spring_prec_mm', 'spring_high',
       'spring_low', 'spring_prec_days', 'spring_sun_hrs', 'summer_prec_mm',
       'summer_high', 'summer_low', 'summer_prec_days', 'summer_sun_hrs',
       'winter_prec_mm', 'winter_high', 'winter_low', 'winter_prec_days',
       'winter_sun_hrs'],
      dtype='object')

## 3. Exporting to json

In [37]:
weather_final.to_json("../data/Seasonal_weather_data.json")