# Scraping climatedata.eu

In [1]:
import pandas as pd
import lxml

In [2]:
city_list = ['Amsterdam', 'Andorra-La-Vella', 'Athens', 'Belgrade', 'Berlin', 'Bern', 
             'Bratislava', 'Brussels', 'Bucharest', 'Budapest', 'Chisinau', 'Copenhagen', 
             'Dublin', 'Helsinki', 'Kiev', 'Lisbon', 'Ljubljana', 'London', 'Luxembourg', 
             'Madrid', 'Minsk', 'Monaco', 'Moscow', 'Nicosia', 'Nuuk', 'Oslo', 'Paris', 
             'Podgorica', 'Prague', 'Reykjavik', 'Riga', 'Rome', 'San-Marino', 'Sarajevo', 
             'Skopje', 'Sofia', 'Stockholm', 'Tallinn', 'Tirana', 'Vaduz', 'Valletta', 'Vatican-City', 
             'Vienna', 'Vilnius', 'Warsaw', 'Zagreb']

In [6]:
amsterdam1 = pd.read_html('https://www.climatedata.eu/climate.php?loc=nlxx0002&lang=en')[2]
amsterdam1

               Unnamed: 0  Jan  Feb  Mar  Apr  May  June
0      Average high in °C    5    6    9   12   17    19
1       Average low in °C    1    0    2    4    8    10
2  Av. precipitation - mm   62   43   58   41   48    67
3       Days with precip.   17   13   17   14   14    14
4       Hours of sunshine   53   80  116  166  217   200

In [7]:
amsterdam2 = pd.read_html('https://www.climatedata.eu/climate.php?loc=nlxx0002&lang=en')[3]
amsterdam2

               Unnamed: 0  July  Aug  Sep  Oct  Nov  Dec
0      Average high in °C    21   22   18   14    9    7
1       Average low in °C    13   12   10    7    4    2
2  Av. precipitation - mm    65   61   82   85   89   75
3       Days with precip.    13   13   16   17   19   18
4       Hours of sunshine   208  201  133  103   58   45

In [8]:
athens1 = pd.read_html('https://www.climatedata.eu/climate.php?loc=grxx0004&lang=en')[2]
athens1

               Unnamed: 0  Jan  Feb  Mar  Apr  May  June
0      Average high in °C   14   14   16   19   24    29
1       Average low in °C    7    7    8   11   16    20
2  Av. precipitation - mm   48   40   39   26   15     5
3       Days with precip.   13   13   11    9    6     4
4       Hours of sunshine  129  136  183  230  291   336

In [9]:
athens2 = pd.read_html('https://www.climatedata.eu/climate.php?loc=grxx0004&lang=en')[2]
athens2

               Unnamed: 0  Jan  Feb  Mar  Apr  May  June
0      Average high in °C   14   14   16   19   24    29
1       Average low in °C    7    7    8   11   16    20
2  Av. precipitation - mm   48   40   39   26   15     5
3       Days with precip.   13   13   11    9    6     4
4       Hours of sunshine  129  136  183  230  291   336